<div class="container">
  <div class="row my-3"></div>
  <%= form_with url: answer_questions_path(level: params[:level], type: params[:type], group: params[:group], page: params[:page]), method: :post do |f| %>
      <% @questions_with_choices.each_with_index do |qwc, index| %>
      <div class="row mb-2">
        <div class="col-2">
          <%= qwc[:question].chinese_character %>
          <%= f.hidden_field "question_chinese_character_id[]", value: "#{qwc[:question].id}" %>
        </div>
        <% qwc[:choices].each do |choice| %>
          <% if @type.to_i == 1 %>
            <% choice_id = ChineseCharacter.find_by(reading_of_chinese_character: choice).id %>
            <div class="col">
              <%= f.label "correct_of_reading_#{choice_id}_#{choice}_#{qwc[:question].id}".to_sym do %>
              <%= f.radio_button :correct_of_reading, "#{choice_id}_#{choice}", name: index, id: "correct_of_reading_#{choice_id}_#{choice}_#{qwc[:question].id}"  %>
              <%= choice %>
              <% end %>
            </div>
          <% elsif @type.to_i == 2 %>
            <% choice_id = ChineseCharacter.find_by(meaning_of_chinese_character: choice).id %>
            <div class="offset-1 col-10">
              <%= f.label "correct_of_meaning_#{choice_id}_#{choice}_#{qwc[:question].id}".to_sym do %>
              <%= f.radio_button :correct_of_meaning, "#{choice_id}_#{choice}", name: index, id: "correct_of_meaning_#{choice_id}_#{choice}_#{qwc[:question].id}"  %>
              <%= choice %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <% end %>
      <div class="row justify-content-center">
      <% if @type.to_i == 1 %>
        <%= f.submit "解答する", class: "btn btn-primary col-2" %>
      <% elsif @type.to_i == 2 %>
        <%= f.submit "解答する", class: "btn btn-success col-2" %>
      <% end %>
      </div>
  <% end %>
</div>