<div class="container">
  <h3 class="mb-5">マイページ</h3>
  <div class="row">
    <div class="col-sm">
      <div class="row mb-3">
        <span class="font-weight-bold col-sm-3 align-self-center">登録情報</span>
        <%= link_to "編集する", edit_users_path, class: "btn btn-success col-sm-3" %>
      </div>
      <div class="row">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>氏名</td>
              <td><%= @user.last_name %> <%= @user.first_name %></td>
            </tr>
            <tr>
              <td>カナ</td>
              <td><%= @user.last_name_kana %> <%= @user.first_name_kana %></td>
            </tr>
            <tr>
              <td>ニックネーム</td>
              <td><%= @user.nickname %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= @user.email %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm offset-sm-1">
      <div class="row mb-3">
        <span class="font-weight-bold col-sm-3">習熟度</span>
      </div>
      <div class="row">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>読み</td>
              <td>
                <span class="text-danger">
                  <%= @user.read_level_i18n %>
                </span>
                級
              </td>
            </tr>
            <tr>
              <td>意味</td>
              <td>
                <span class="text-danger">
                  <%= @user.mean_level_i18n %>
                </span>
                級
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mb-3">
        <span class="font-weight-bold col-sm-3">ランキング</span>
      </div>
      <div class="row">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>
                <%= @rank_of_current_user %>位
              </td>
              <td>
                <%= @count_all_users %>人中
              </td>
            </tr>
            <tr>
              <td>
                <%= @user.the_number_of_correct_answers %>問正解
              </td>
              <td>
                <%= @count_all_chinese_characters %>問中
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
